
.myView-thirdPageLable{
    text-decoration: underline; 
    font-family: Microsoft JhengHei; 
    font-size: 36px ; 
    font-weight: bold; 
    color: rgb(15, 74, 169); 
    display: block; 
    text-align: center; 
}
